@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;400&family=Inter&family=Poppins:wght@100;400&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #e2e2e2;
}

.header__container {
    height: 70px;
    width: 220vh;
    background: white;
    
}

.header__content {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    
    padding: 19px;
}

.header__title {
    color: blue;
    font-weight: bold;

}
.header__input--search-input__box {
    background: 	
    #ebebeb;
    width: 480px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin: 0 150px;

}

/*formulario2*/

.main__container{
    box-shadow: inset 0px 6px 6px 0px rgba(0,0,0,0.30);
  height: calc(100vh - 47px);
  background: #e2e2e2;
  padding-top: 12px;
}

.form__container {
    margin: 20px auto;
    width: 63%;
    background: white;
    border-radius: 8px;
    padding: 20px 40px 40px;
}

.form__title-title2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
   
}

.form__input-container{
   display: flex;
   align-items: center;
  
}


.form__input--text-input__box{
    flex: 3;
    background: #e2e2e2;
    border: none;
    border-radius: 5px;
    padding: 11px;
    margin: 5px;
    width: 70%;
}

.form__input--priority-input__box{
  flex: 1;
  background: #e2e2e2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 5%;
}
/*botao adicionar tarefa*/
.form__button--add-task {
width: 100%;
  background: rgb(0, 98, 255);
  border: none;
  margin-top: 40px;
  padding: 18px 0px;
  border-radius: 5px;
  color:rgb(255,255,255) 
}

  /*FORMULARIO3*/

.tasks__container {
    margin: 20px auto;
    width: 63%;
    background: white;
    border-radius: 8px;
    padding: 20px 40px 40px; 
}

.form__title-title3{
    font-weight:800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tasks__list {
    display: flex;
    flex-direction: column;

}

.task__item {
    display: flex;
    justify-content: space-between;
    background: #e2e2e2;
    margin-top: 8px;
    border-radius: 5px;
    padding: 15px;
}

.task-info__container{
    display: flex;
    align-items: center;
    font-weight: 500;

}

.task-type-span-urgent {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: red;
    margin-right:15px ;
}

.task-type-span-important {
    background: yellow;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right:15px ;
}

.task-type-span-normal{
    background: green;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right:15px ;
}

.task__button--remove-task{
    display: flex;
    align-items: flex-end;
    background-image: url(./assets/trash-icon.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 10px;
    cursor: pointer;
    border: none;
}

