@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background: #E2E2E2;
    font-family: 'Roboto', sans-serif;
}
.header__container {
    height: 70px;
    display: flex;
    background: #fff;
}
.header__content {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    min-width: 820px;
}
.header__title {
    font-weight: bolder;
    font-size: 1.3em;
    color: #3B5BDB;
}
.header__input--search {
    height: 45px;
    width: 500px;
    border-radius: 5px;
    background: #EBEBEB;
    border: none;
}
.main__container {
    margin: 25px auto;
    max-width: 850px;
    min-width: 820px;
}
.form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
.form__title {
    margin: 0;
    padding: 0;
    font-size: larger;
}
.form__input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__input--text {
    height: 38px;
    width: 460px;
    border-radius: 5px;
    border: none;
    background: #EBEBEB;
}
.form__input--priority {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: none;
    background: #EBEBEB;
    cursor: pointer;
}
.form__button--add-task {
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #3B5BDB;
    color: #fff;
    cursor: pointer;
}
.tasks__container {
    padding: 20px 0;
    background: #fff;
    margin: 30px auto;
    border-radius: 10px;
}
.tasks__list {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}
h2 {
    padding-top: 40px;
    font-size: larger;
    font-weight: 600;
    margin-left: 20px;
}
.task__item {
    display: flex;
    justify-content: space-between;
    background: #EBEBEB;
    margin: 5px auto;
    height: 45px;
    width: 95%;
    border-radius: 5px;
}
.task-info__container {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
    gap: 15px;
}
.task__button--remove-task {
    width: 10px;
    background-image: url(assets/trash-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    margin: 15px;
}
.span-urgent {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: red;
}
.span-important {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: yellow;
}
.span-normal {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: green;
}